.titleList {
  margin-top: 10px;
  color: darkgray;
  font-size: 50px;
  font-weight: bold;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 30px;
  padding-bottom: 20px;
  color: darkgray;
  font-weight: bold;

  .numberList {
    width: 70%;
    font-size: 40px;
    position: relative;

    .userName {
      font-size: 40px;
    }

    .task {
      font-size: 35px;
    }
    .deadline {
      font-size: 35px;
    }

    .isDoneWrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      margin-bottom: 25px;

      .isDone {
        height: 30px;
        width: 30px;
      }
    }

    .btn {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 50px;
      right: 1px;

      .iconBtn {
        height: 60px;
        width: 60px;
        color: darkgrey;

        &:hover {
          color: rgb(28, 26, 26);
        }
      }
    }
  }
}
