.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: purple;
  font-size: 40px;
  font-weight: bold;

  .userNameWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

    .userFullName {
      font-size: 80%;
      padding: 2px;
      border: none;
      border-radius: 5px;
      background-color: purple;
      color: darkgray;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .textTaskWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    position: relative;

    .textTask {
      display: flex;
      flex-direction: column;
      font-size: 80%;
      padding: 2px;
      border: none;
      border-radius: 5px;
      background-color: purple;
      color: darkgray;
      font-weight: bold;
      outline: none;
      cursor: pointer;
    }

    .errorTask {
      position: absolute;
      left: 190px;
      top: 45px;
      font-size: 20px;
      color: rgb(212, 11, 11);
      text-align: center;
    }
  }

  .deadlineWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    position: relative;

    .deadline {
      display: flex;
      flex-direction: column;
      font-size: 80%;
      padding: 2px;
      border: none;
      border-radius: 5px;
      background-color: purple;
      color: darkgray;
      font-weight: bold;
      cursor: pointer;
    }

    .errorDeadline {
      position: absolute;
      left: 190px;
      top: 50px;
      font-size: 20px;
      color: rgb(212, 11, 11);
      text-align: center;
    }
  }

  .btn {
    margin-top: 50px;
    font-size: 80%;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: darkgray;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: gray;
      color: purple;
    }
  }
}

@media (max-width: 1347px) {
  .formWrapper {
    font-size: 30px;

    .userNameWrapper {
      flex-direction: column;
      align-items: center;
      gap: 6px;
      width: 100%;
    }

    .textTaskWrapper {
      flex-direction: column;
      align-items: center;
      gap: 6px;
      width: 100%;

      .errorTask {
        top: 75px;
      }
    }

    .deadlineWrapper {
      flex-direction: column;
      align-items: center;
      gap: 6px;
      width: 100%;

      .errorDeadline {
        top: 75px;
        left: 150px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .formWrapper {
    .textTaskWrapper {
      .errorTask {
        top: 75px;
        left: 130px;
      }
    }

    .deadlineWrapper {
      .errorDeadline {
        top: 75px;
        left: 110px;
      }
    }
  }
}

@media (max-width: 768px) {
  .formWrapper {
    font-size: 35px;

    .userNameWrapper {
      margin-top: 20px;
    }

    .textTaskWrapper {
      margin-top: 20px;

      .errorTask {
        top: 85px;
        left: 260px;
      }
    }

    .deadlineWrapper {
      margin-top: 25px;
      .errorDeadline {
        top: 85px;
        left: 230px;
      }
    }
  }
}

@media (max-width: 425px) {
  .formWrapper {
    font-size: 25px;

    .userNameWrapper {
      margin-top: 10px;
    }

    .textTaskWrapper {
      margin-top: 20px;

      .errorTask {
        top: 65px;
        left: 100px;
      }
    }

    .deadlineWrapper {
      margin-top: 25px;
      .errorDeadline {
        top: 65px;
        left: 70px;
      }
    }

    .btn {
      margin-top: 30px;
    }
  }
}

@media (max-width: 425px) {
  .formWrapper {
    font-size: 25px;

    .userNameWrapper {
      margin-top: 10px;
    }

    .textTaskWrapper {
      margin-top: 20px;

      .errorTask {
        top: 65px;
        left: 100px;
      }
    }

    .deadlineWrapper {
      margin-top: 25px;
      .errorDeadline {
        top: 65px;
        left: 70px;
      }
    }

    .btn {
      margin-top: 30px;
    }
  }
}

